/* ==========================================================================
   Grid Generator Mixin.

   ========================================================================== */
/* Variables */
$gutter: 30px;

$container-small: 480px;
$screen-small: 480px;

$container-medium: 768px;
$screen-medium: 768px;

$container-large: 1140px;
$screen-large: 1140px;

$container-large: 775px + $gutter;
$screen-large: 775px + $gutter;

/* Make Grid */
@mixin container (){
    margin-right: auto;
    margin-left: auto;
    padding-left:  floor(($gutter / 2));
    padding-right: ceil(($gutter / 2));
    @include clearfix;
    @media (min-width: $screen-small) {
        width: $container-small;
    }
    @media (min-width: $screen-medium) {
        width: $container-medium;
    }
    @media (min-width: $screen-large) {
        width: $container-large;
    }
}
/* Make Grid */
@mixin columns_num ($col, $sum, $gutter: $gutter, $align: top, $first: false, $last: false) {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    //padding-left: if($first, 0, $gutter);
    //padding-right: if($last, 0, $gutter);

    @media only screen and (min-width: 768px) {
        width: percentage( $col/$sum ) - 1%;
        vertical-align: $align;
    }

    &.fluid { width: percentage($col/$sum)- 1%; }
}

